body{
    margin:0;
    padding: 0;
    display: flex;
    flex-direction:column ;
}

header{
    background-color: rgb(82, 75, 86);
    color:white;
    padding: 30px;
}
nav{
    background-color: rgb(82, 75, 86);
    color:white;
    display:flex;
    padding: 20px;
}
nav ul{
    display:flex;
     margin:0;
     padding:0;
     list-style: none;
}
nav ul li a{
    color:white;
    padding:10px;
    text-decoration: none;
}
.container{
    background-color: rgb(82, 75, 86);
    color:white;
    display: flex; 
}
aside{
    background-color: rgb(82, 75, 86);
    color:white;
    padding:10px;
    width: 25%;
    display:flex;
    flex-direction: column;
}
main{
    padding: 10px;
    width:75%;
}
footer{
    background-color: rgb(82, 75, 86);
    color:white;
}
footer ul{
    display:flex;
     margin:0;
     padding:0;
     list-style: none;
}
footer ul li {
    padding:10px;
    text-decoration: none;
}